<div class="plot-legend" style="float: left; width: 30%;"><div>
    <ul>
        <li style="color: #1f77b4;">
            Bar chart  #1 (new widget)
        </li>
        <li style="color: #ff7f0e;">
            Standalone bar chart #2 (new widget)
        </li>
        <li style="color: #d62728;">
            Line chart #3 (new widget)
        </li>
        <li style="color: #2CA02C;">
            Line chart #4 (lineChart function)
        </li>
    </ul>
</div></div>
<div class="container plot-block" style="float: left; width: 70%;"></div>